body {
  background: #d9b650;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #83580b;
}

h1 {
  color: #1f6f78;
  font-weight: bold;
  margin-bottom: 0px;
}
a {
  color: #1f6f78;
  text-decoration: none;
}
a:hover {
  color: #1dad9b;
}
li {
  list-style: none;
  font-size: smaller;
}
small {
  font-size: x-small;
}

.weather-app {
  background-color: #fde994;
  max-width: 600px;
  margin: 30px auto;
  padding: 50px 50px 10px;
  border: 1px solid #fde994;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px #363636;
}
.searchCity {
  margin-bottom: 30px;
}

#weather-details {
  margin: 30px 0px;
}
.current-temperature img {
  float: left;
  height: 64px;
  width: 64px;
}
.current-temperature strong {
  color: #1dad9b;
  font-size: 64px;
  line-height: 1;
  padding-left: 10px;
}
.current-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.current-temperature .active {
  color: #83580b;
  text-decoration: none;
  cursor: default;
}

.forecast {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}
